html {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color :white;
    background-color: black;
    border-bottom: 5px solid white;
    width : 25%;
    margin: auto;
}
a {
    color: black ;
    text-decoration: none;
}
#navigation {

    background-color: red;
}

}
ul {
    list-style: none;
}
